# Dynamic.xyz configuration
NEXT_PUBLIC_DYNAMIC_ENVIRONMENT_ID=your-dynamic-environment-id

# Web3 Contract Addresses
NEXT_PUBLIC_CONTRACT_NFT_TESTNET=your-base-sepolia-contract-address
NEXT_PUBLIC_CONTRACT_NFT_MAINNET=your-base-mainnet-contract-address

# Hardhat deployment
PRIVATE_KEY=your-private-key
BASE_SEPOLIA_RPC_URL=https://sepolia.base.org
BASE_RPC_URL=https://mainnet.base.org
BASESCAN_API_KEY=your-basescan-api-key
