.container {
    padding: 1rem;
    background: url('/084251a867b139499f23448c34c1f6f13ca835ec.png') no-repeat center center;
    background-size: cover;
    min-height: 100vh;
    color: white;
}

.title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #fff;
}

.search {
  width: 100%;
  padding: 12px 16px;
  font-size: 16px;
  background-color: black;
  color: white;
  border: 2px solid transparent;
  border-radius: 30px;
  outline: none;
  margin-bottom: 20px;
  display: flex;
  background-image:
    url('/stats/search_magnifying_icon.svg'),
    linear-gradient(black, black),
    linear-gradient(to right, #ff9900, #e100ff);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 12px center, 0 0, 0 0;
  background-size: 16px 16px, auto, auto;
  background-origin: padding-box, padding-box, border-box;
  background-clip: padding-box, padding-box, border-box;
  padding-left: 40px;
}

.tokenList {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.tokenRow {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;

}

.tokenRow:hover {
    background: rgba(255, 255, 255, 0.1);
}

.icon {
    width: 36px;
    height: 36px;
    margin-right: 12px;
}

.symbol {
    font-weight: bold;
    color: #fff;
}

.name {
    font-size: 14px;
    color: #aaa;
}