.statsNav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /*padding: 15px 20px;*/
  padding: 15px 0px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 430px;
  z-index: 100; 
}

.statsNav button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.statsNav img {
  width: 32px;
  height: 32px;
  max-width: 8vw;
  max-height: 8vw;
  object-fit: contain;
}

.activeButton img {
  filter: drop-shadow(0px 0px 4px #00f);
}

.ticketsTitle {
  margin-top: 60px; /* push below fixed nav */
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}